/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
} */
.normal-text {
    color: white; 
    font-weight: bold;
}

.orange-bold-text {
    color: orange;
    font-weight: bold;
}
.left {
    text-align: left;
}
.resized-image {
    width: 500px; 
    height: auto;
}

.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}